body {
    background-color: #FF9D9D; /* Main area */
}

header {
    background-color: #FFFFFF; /* top part */
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

footer {
    background-color: #FFFFFF; /* botton part */
    height: 10%;
    position: fixed;
    width: 100%;
    top: 90%;
    left: 0%;
}

nav {
    background-color: #FFE6E6; /* left side */
    position: fixed;
    width: 20%;
    height: 90%;
    top: 10%;
    left: 0%;
}

article {
    background-color: #FF9D9D; /* content placeholder */
    position: fixed;
    width: 100%;
    top: 10%;
    left: 20%;
}
