body {
    background-color: white;
}

form {
    position: absolute;
    background-color: #FF9D9D;
    border: solid;
    padding: 3%;
    width: 34%;
    height: 50%;
    top: 20%;
    left: 30%;
}

h3 {
    position: fixed;
    top: 19%;
    left: 32%;
}
